.profile__info {
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 24px;
    column-gap: 18px;
    row-gap: 16px;
}

@media screen and (max-width: 500px) {
    .profile__info {
        padding-top: 26px;
        column-gap: 10px;
        row-gap: 2px;
    }
}