.profile__avatar {
    width: 100%;
    height: 100%;
    background-size: 26px 26px;
    background-image: url(../../../images/AvatarBtn.svg);
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;    
    padding: 0;
    margin: 0;
    position: absolute;    
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.3s linear;
    cursor: pointer;
    opacity: 0;
}

.profile__avatar:hover {
    opacity: 1;
}