.element__trash {
    width: 18px;
    height: 19px;
    background: url(../../../images/trash.svg);
    top: 20px;
    right: 20px;
    position: absolute;
    border: none;
    transition: 0.3s linear;
    display: none;
}

.element__trash:hover {
    opacity: 0.6;
    cursor: pointer;
}