.sign__input {
    width: 100%;
    max-width: 358px;
    min-height: 27px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 2px solid #cccccc;
    outline: none;
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
}