.header {
    max-width: calc(100% - 2*200px);
    padding-top: 45px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);

    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 750px) {
    .header {
        max-width: 750px;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding-top: 28px;
        width: 320px;
    }
}